<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Início</a></li>
      <li class="breadcrumb-item active" aria-current="page">Estatísticas</li>
    </ol>
  </nav>
<div class="card">
    <div class="card-body">
        <div id="chartContainerQuantidades" style="height: 370px; width: 90%; margin:auto;"></div>
    </div>
    <div class="card-body">
        <div id="chartContainerClassificados" style="height: 370px; width: 90%; margin:auto;"></div>
    </div>
</div>