<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco">Bancos</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco/{{params.idBanco}}/esquema">Esquemas</a></li>
        <li class="breadcrumb-item"><a
                routerLink="/banco/{{params.idBanco}}/esquema/{{params.idEsquema}}/tabela">Tabelas</a></li>
        <li class="breadcrumb-item"><a
                routerLink="/banco/{{params.idBanco}}/esquema/{{params.idEsquema}}/tabela/{{params.idTabela}}/atributo">Atributos</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Detalhar</li>
    </ol>
</nav>
<div class="container mt-4">
    <p class="h4 text-center">Detalhes do atributo</p>
    <div class="text-center"><span>do banco {{atributo?.tabela.esquema.banco.nmBanco}}, esquema
            {{atributo?.tabela.esquema.nmEsquema}}, tabela {{atributo?.tabela.nmTabela}}</span></div>
    <div class="row" *ngIf="atributo">
        <div class="col-md-12 mx-auto">

            <tabset>
                <tab heading="Detalhes" id="tab1">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>ID</b><br>{{atributo.id}}</li>
                        <li class="list-group-item"><b>Nome do campo</b><br>{{atributo.nmAtributo}}</li>
                        <li class="list-group-item"><b>Tipo do campo</b><br>{{atributo.tipo}}</li>
                        <li class="list-group-item"><b>Tamanho do campo</b><br>{{atributo.tamanho}}</li>
                        <li class="list-group-item"><b>Campo chave</b><br>
                            <ng-container *ngIf="!atributo.inCampoChave">
                                <td>Não</td>
                            </ng-container>
                            <ng-container *ngIf="atributo.inCampoChave">
                                <td>Sim</td>
                            </ng-container>
                        </li>
                        <li class="list-group-item"><b>Campo FK</b><br>
                            <ng-container *ngIf="!atributo.inCampoFk">
                                <td>Não</td>
                            </ng-container>
                            <ng-container *ngIf="atributo.inCampoFk">
                                <td>Sim</td>
                            </ng-container>
                        </li>
                        <li class="list-group-item"><b>Campo obrigatório</b><br>
                            <ng-container *ngIf="!atributo.inObrigatorio">
                                <td>Não</td>
                            </ng-container>
                            <ng-container *ngIf="atributo.inObrigatorio">
                                <td>Sim</td>
                            </ng-container>
                        </li>
                        <li class="list-group-item"><b>Descrição</b><br>{{atributo.txDescricao}}</li>
                        <li class="list-group-item"><b>Data do Registro</b><br>{{atributo.dtRegistro | date :
                            'dd/MM/yyyy
                            HH:mm'}}
                        </li>
                    </ul>
                </tab>
                <tab heading="LGPD" id="tab2">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Dado pessoal</b><br>
                            <ng-container *ngIf="atributo.inPessoal === null ">
                                <td>Sem classificação</td>
                            </ng-container>
                            <ng-container *ngIf="atributo.inPessoal === 'X' ">
                                <td>Não se aplica</td>
                            </ng-container>
                            <ng-container *ngIf="atributo.inPessoal === 'N' ">
                                <td>Não</td>
                            </ng-container>
                            <ng-container *ngIf="atributo.inPessoal === 'S' ">
                                <td>Sim</td>
                            </ng-container>
                        </li>

                        <li class="list-group-item"><b>Dado sensível</b><br>
                            <ng-container *ngIf="atributo.inSensivel === null ">
                                <td>Sem classificação</td>
                            </ng-container>
                            <ng-container *ngIf="atributo.inSensivel === 'X' ">
                                <td>Não se aplica</td>
                            </ng-container>
                            <ng-container *ngIf="atributo.inSensivel === 'N' ">
                                <td>Não</td>
                            </ng-container>
                            <ng-container *ngIf="atributo.inSensivel === 'S' ">
                                <td>Sim</td>
                            </ng-container>
                        </li>
                        <li class="list-group-item"><b>Etiquetas</b><br>
                            <div *ngFor="let etiqueta of atributo.etiqueta">
                                <i class="fas fa-tag text-info"></i> {{etiqueta.nmEtiqueta}}
                            </div>
                        </li>
                    </ul>

                </tab>
            </tabset>
            <button class="btn btn-outline-primary btn-block" (click)="voltar()">
                <i class="far fa-arrow-alt-circle-left"></i> Voltar</button>
        </div>
    </div>
</div>