<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item active" aria-current="page">Relatório</li>
    </ol>
</nav>
<div class="container mt-4">
    <p class="h4 text-center">Relatório LGPD</p>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="form-group">
                <label for="bancos"><b>Bancos</b></label>
                <ng-select [items]="bancos" labelForId="bancos" bindLabel="nmBanco" [closeOnSelect]="true"
                    [ngModelOptions]="{standalone: true}" [(ngModel)]="banco" placeholder="Selecione um banco | ambiente | tecnologia">
                    <ng-template ng-label-tmp let-item="item">
                        {{item.nmBanco}} | {{item.ambiente?.nmAmbiente}} | {{item.tecnologia?.nmTecnologia}}

                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        {{item.nmBanco}} | {{item.ambiente?.nmAmbiente}} | {{item.tecnologia?.nmTecnologia}}
                    </ng-template>
                </ng-select>
            </div>
            <button class="btn btn-outline-primary btn-block" (click)="onImprimir()" [disabled]="!banco">
                <i class="fas fa-print"></i> Imprimir</button>
        </div>
    </div>
</div>