<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco">Bancos</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco/{{params.idBanco}}/esquema">Esquemas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalhar</li>
    </ol>
</nav>
<div class="container mt-4">
    <p class="h4 text-center">Detalhes do esquema</p>
    <div class="text-center"><span>do banco {{esquema?.banco.nmBanco}}</span></div><br>
    <div class="row" *ngIf="esquema">
        <div class="col-md-12 mx-auto">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>ID</b><br>{{esquema.id}}</li>
                <li class="list-group-item"><b>Nome</b><br>{{esquema.nmEsquema}}</li>
                <li class="list-group-item"><b>Descrição</b><br>{{esquema.txDescricao}}</li>
                <li class="list-group-item"><b>Data do Registro</b><br>{{esquema.dtRegistro | date : 'dd/MM/yyyy HH:mm'}}
                </li>
            </ul>
            <button class="btn btn-outline-primary btn-block" (click)="voltar()">
                <i class="far fa-arrow-alt-circle-left"></i> Voltar</button>
        </div>
    </div>
</div>