<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Início</a></li>
    <li class="breadcrumb-item active" aria-current="page">Bancos</li>
  </ol>
</nav>
<div class="container mt-4">
  <p class="h4 text-center">Listagem de bancos</p>
  <div class="d-flex justify-content-end mb-2">
    <button class="btn btn-outline-success mr-2" *ngIf=" isAdmin" routerLink="/banco/incluir" tooltip="Incluir banco"><i
        class="fas fa-plus-circle"></i> Novo</button>
    <button class="btn btn-outline-secondary" (click)="exportexcel()" tooltip="Gerar arquivo excel"><i
        class="fas fa-file-excel"></i>
      Exportar</button>
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-search mr-1"></i></span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
      placeholder="Filtrar por nome" (keyup)="updateFilter($event)">
  </div>
  <div class="table-responsive">
    <table class="table table-bordered text-center">
      <thead class="thead-light">
        <tr>
          <!-- <th scope="col">ID</th> -->
          <th scope="col">Nome</th>
          <th scope="col">Ambiente</th>
          <th scope="col">Tecnologia</th>
          <th scope="col">Descrição</th>
          <!-- <th scope="col">Data de Registro</th> -->
          <th scope="col">Detalhar</th>
          <th scope="col">Esquemas</th>
          <th *ngIf="isAdmin" scope="col">Editar</th>
          <th *ngIf="isAdmin" scope="col">Apagar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let banco of bancos">
          <!-- <td>{{banco.id}}</td> -->
          <td>{{banco.nmBanco}}</td>
          <td>{{banco.ambiente?.nmAmbiente}}</td>
          <td>{{banco.tecnologia?.nmTecnologia}}</td>
          <td>{{banco.txDescricao}}</td>
          <!-- <td>{{banco.dtRegistro | date : 'dd/MM/yyyy HH:mm'}}</td> -->
          <td><button class="btn btn-outline-primary" routerLink="/banco/{{banco.id}}/detalhar"
              tooltip="Detalhar banco"><i class="far fa-eye"></i></button></td>
          <td><button class="btn btn-outline-secondary" routerLink="/banco/{{banco.id}}/esquema" tooltip="Esquemas"><i
                class="fas fa-table"></i></button></td>
          <td *ngIf="isAdmin"><button class="btn btn-outline-warning" routerLink="/banco/{{banco.id}}/alterar"
              tooltip="Alterar banco"><i class="far fa-edit"></i></button></td>
          <td *ngIf="isAdmin"><button class="btn btn-outline-danger" (click)="onDelete(banco.id)"
              tooltip="Apagar banco"><i class="far fa-trash-alt"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>