<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco">Bancos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Alterar</li>
    </ol>
</nav>
<div class="container mt-4">
    <p class="h4 text-center">Alteração de banco</p>
    <div class="row" *ngIf="banco">
        <div class="col-md-12 mx-auto">
            <form (ngSubmit)="onUpdate()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="nmBanco"><b>Nome</b></label>
                    <input type="text" class="form-control" name="nmBanco" id="nmBanco" [(ngModel)]="banco.nmBanco"
                        required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="ambiente"><b>Ambiente</b></label>
                    <ng-select [items]="ambientes" labelForId="ambiente" [hideSelected]="true" bindLabel="nmAmbiente"
                        [closeOnSelect]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="banco.ambiente">
                    </ng-select>
                </div>
                <div class="form-group">
                    <label for="tecnologia"><b>Tecnologia</b></label>
                    <ng-select [items]="tecnologias" labelForId="tecnologia" [hideSelected]="true"
                        bindLabel="nmTecnologia" [closeOnSelect]="true" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="banco.tecnologia">
                    </ng-select>
                </div>
                <div class="form-group">
                    <label for="txDescricao"><b>Descrição</b></label>
                    <input type="text" class="form-control" name="txDescricao" id="txDescricao"
                        [(ngModel)]="banco.txDescricao" autocomplete="off">
                </div>
                <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="far fa-edit"></i> Alterar</button>
                <button type="button" class="btn btn-outline-primary btn-block" (click)="voltar()">
                    <i class="far fa-arrow-alt-circle-left"></i> Voltar</button>
            </form>
        </div>
    </div>
</div>