<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco">Bancos</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco/{{params.idBanco}}/esquema">Esquemas</a></li>
        <li class="breadcrumb-item"><a
                routerLink="/banco/{{params.idBanco}}/esquema/{{params.idEsquema}}/tabela">Tabelas</a></li>
        <li class="breadcrumb-item"><a
                routerLink="/banco/{{params.idBanco}}/esquema/{{params.idEsquema}}/tabela/{{params.idTabela}}/atributo">Atributos</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Alterar</li>
    </ol>
</nav>
<div class="container mt-4">
    <p class="h4 text-center">Alteração de atributo</p>
    <div class="text-center"><span>do banco {{atributo?.tabela.esquema.banco.nmBanco}}, esquema
            {{atributo?.tabela.esquema.nmEsquema}}, tabela {{atributo?.tabela.nmTabela}}</span></div><br>
    <div class="row" *ngIf="atributo">
        <div class="col-md-12 mx-auto">
            <form (ngSubmit)="onUpdate()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="nmAtributo"><b>Nome do campo</b></label>
                    <input type="text" class="form-control" name="nmAtributo" id="nmAtributo"
                        [(ngModel)]="atributo.nmAtributo" required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="tipo"><b>Tipo do campo</b></label>
                    <input type="text" class="form-control" name="tipo" id="tipo" [(ngModel)]="atributo.tipo">
                </div>
                <div class="form-group">
                    <label for="tamanho"><b>Tamanho do campo</b></label>
                    <input type="number" class="form-control" name="tamanho" id="tamanho"
                        [(ngModel)]="atributo.tamanho">
                </div>
                <div class="form-group">
                    <label for="inCampoChave"><b>Campo chave</b></label>
                    <select class="form-control" id="inCampoChave" name="inCampoChave"
                        [(ngModel)]="atributo.inCampoChave">
                        <option value=true>Sim</option>
                        <option value=false>Não</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inCampoFk"><b>Campo FK</b></label>
                    <select class="form-control" id="inCampoFk" name="inCampoFk" [(ngModel)]="atributo.inCampoFk">
                        <option value=true>Sim</option>
                        <option value=false>Não</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inObrigatorio"><b>Campo obrigatório</b></label>
                    <select class="form-control" id="inObrigatorio" name="inObrigatorio"
                        [(ngModel)]="atributo.inObrigatorio">
                        <option value=true>Sim</option>
                        <option value=false>Não</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txDescricao"><b>Descrição</b></label>
                    <input type="text" class="form-control" name="txDescricao" id="txDescricao"
                        [(ngModel)]="atributo.txDescricao" autocomplete="off">
                </div>
                <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="far fa-edit"></i> Alterar</button>
                <button type="button" class="btn btn-outline-primary btn-block" (click)="voltar()">
                    <i class="far fa-arrow-alt-circle-left"></i> Voltar</button>
            </form>
        </div>
    </div>
</div>