<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Catálogo de Metadados</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li *ngIf="isLogged" class="nav-item">
        <a class="nav-link" routerLink="/banco">
          <i class="fas fa-sitemap"></i> Bancos</a>
      </li>
      <li *ngIf="isAdmin" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="far fa-list-alt"></i> Cadastros</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/ambiente">Ambientes</a>
          <a class="dropdown-item" routerLink="/tecnologia">Tecnologias</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" routerLink="/etiqueta">Etiquetas</a>
        </div>
      </li>
      <li *ngIf="isLogged" class="nav-item">
        <a class="nav-link" routerLink="/estatistica">
          <i class="fas fa-chart-line"></i> Estatísticas</a>
      </li>
      <li *ngIf="isLogged" class="nav-item">
        <a class="nav-link" routerLink="/relatorio">
          <i class="fas fa-chart-line"></i> Relatório</a>
      </li>
      <li *ngIf="isAdmin" class="nav-item">
        <a class="nav-link text-warning" href="#">
          <i class="fas fa-toolbox"></i> Administrador</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li *ngIf="isLogged" class="nav-item mr-3">
        <a class="nav-link" href="#">
          Benvindo {{username}}
        </a>
      </li>
      <button *ngIf="!isLogged" class="btn btn-outline-warning m-1" routerLink="/signup"><i class="fas fa-user-plus"></i>
        Cadastre-se</button>
      <button *ngIf="!isLogged" class="btn btn-outline-success m-1" (click)="login()"><i class="fas fa-sign-in-alt"></i>
        Entrar</button>
      <button *ngIf="isLogged" class="btn btn-outline-warning m-1" (click)="logout()"><i class="fas fa-sign-out-alt"></i>
        Sair</button>
    </ul>
  </div>
</nav>
