<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco">Bancos</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco/{{params.idBanco}}/esquema">Esquemas</a></li>
        <li class="breadcrumb-item"><a
                routerLink="/banco/{{params.idBanco}}/esquema/{{params.idEsquema}}/tabela">Tabelas</a></li>
        <li class="breadcrumb-item"><a
                routerLink="/banco/{{params.idBanco}}/esquema/{{params.idEsquema}}/tabela/{{params.idTabela}}/atributo">Atributos</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Contribuir</li>
    </ol>
</nav>
<div class="container mt-4">
    <p class="h4 text-center">Contribuição</p>
    <div class="text-center"><span>no atributo {{atributo?.nmAtributo}}, banco {{atributo?.tabela.esquema.banco.nmBanco}}, esquema
        {{atributo?.tabela.esquema.nmEsquema}}, tabela {{atributo?.tabela.nmTabela}}</span></div><br>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <form #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="txContribuicao"><b>Texto *</b></label>
                    <textarea cols="50" rows="5" maxlength="2000" class="form-control" id="txContribuicao"
                        name="txContribuicao" placeholder="Informar o texto da contribuição" type="text"
                        [(ngModel)]="txContribuicao" required></textarea>
                </div>
                <button type="button" class="btn btn-outline-success btn-block" (click)="onCreate()"
                    [disabled]="!f.valid">
                    <i class="fas fa-plus-circle"></i> Incluir</button>
                <button type="button" class="btn btn-outline-primary btn-block" (click)="voltar()">
                    <i class="far fa-arrow-alt-circle-left"></i> Voltar</button>

                <div class="mt-3" *ngFor="let contribuicao of contribuicoes">
                    <div class="card bg-light mb-3">
                        <div class="card-header" style="font-weight: lighter; text-align: right;"><i
                                class="far fa-comments mr-2"></i>{{contribuicao.usrContribuicao}}
                            {{contribuicao.dtRegistro | date :
                            'dd/MM/yyyy
                            HH:mm'}}
                            <button *ngIf="isAdmin || userName == contribuicao.usrContribuicao"
                                class="btn btn-outline-danger ml-2" (click)="onDelete(contribuicao.id)"><i
                                    class="far fa-trash-alt"></i></button>
                        </div>
                        <div class="card-body" style="text-align: justify;">
                            <p class="card-text">
                                {{contribuicao.txContribuicao}}
                            </p>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>

</div>