<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco">Bancos</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco/{{params.idBanco}}/esquema">Esquemas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Alterar</li>
    </ol>
</nav>
<div class="container mt-4">
    <p class="h4 text-center">Alteração de esquema</p>
    <div class="text-center"><span>do banco {{esquema?.banco.nmBanco}}</span></div><br>
    <div class="row" *ngIf="esquema">
        <div class="col-md-12 mx-auto">
            <form (ngSubmit)="onUpdate()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="nmEsquema"><b>Nome</b></label>
                    <input type="text" class="form-control" name="nmEsquema" id="nmEsquema"
                        [(ngModel)]="esquema.nmEsquema" required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="txDescricao"><b>Descrição</b></label>
                    <input type="text" class="form-control" name="txDescricao" id="txDescricao"
                        [(ngModel)]="esquema.txDescricao" autocomplete="off">
                </div>
                <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="far fa-edit"></i> Alterar</button>
                <button type="button" class="btn btn-outline-primary btn-block" (click)="voltar()">
                    <i class="far fa-arrow-alt-circle-left"></i> Voltar</button>
            </form>
        </div>
    </div>
</div>