<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item active" aria-current="page">Etiquetas</li>
    </ol>
</nav>

<div class="container mt-4">
    <p class="h4 text-center">Listagem de etiquetas</p>
    <div class="d-flex justify-content-end mb-2">
        <button class="btn btn-outline-success mr-2" *ngIf=" isAdmin" routerLink="/etiqueta/incluir"
            tooltip="Incluir etiqueta"><i class="fas fa-plus-circle"></i> Novo</button>
        <button class="btn btn-outline-secondary" (click)="exportexcel()" tooltip="Gerar arquivo excel"><i
                class="fas fa-file-excel"></i>
            Exportar</button>
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-search mr-1"></i></span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm" placeholder="Filtrar por nome" (keyup)="updateFilter($event)">
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Detalhar</th>
                    <th *ngIf="isAdmin" scope="col">Editar</th>
                    <th *ngIf="isAdmin" scope="col">Apagar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let etiqueta of etiquetas">
                    <td>{{etiqueta.nmEtiqueta}}</td>
                    <td>
                        <span *ngIf="etiqueta.inTipoEtiqueta === 'P' ">Pessoal</span>
                        <span *ngIf="etiqueta.inTipoEtiqueta === 'S' ">Sensível</span>
                    </td>
                    <td><button class="btn btn-outline-primary" routerLink="/etiqueta/{{etiqueta.id}}/detalhar"
                            tooltip="Detalhar etiqueta"><i class="far fa-eye"></i></button></td>
                    <td *ngIf="isAdmin"><button class="btn btn-outline-warning"
                            routerLink="/etiqueta/{{etiqueta.id}}/alterar" tooltip="Alterar etiqueta"><i
                                class="far fa-edit"></i></button></td>
                    <td *ngIf="isAdmin"><button class="btn btn-outline-danger" (click)="onDelete(etiqueta.id)"
                            tooltip="Apagar etiqueta"><i class="far fa-trash-alt"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>