<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item"><a routerLink="/etiqueta">Etiquetas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Alterar</li>
    </ol>
</nav>
<div class="container mt-4">
    <p class="h4 text-center">Alteração da etiqueta</p>
    <div class="row" *ngIf="etiqueta">
        <div class="col-md-12 mx-auto">
            <form (ngSubmit)="onUpdate()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="nmEtiqueta"><b>Nome</b></label>
                    <input type="text" class="form-control" name="nmEtiqueta" id="nmEtiqueta"
                        [(ngModel)]="etiqueta.nmEtiqueta" required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="inTipoEtiqueta"><b>Tipo de etiqueta</b></label>
                    <select class="form-control" id="inTipoEtiqueta" name="inTipoEtiqueta"
                        [(ngModel)]="etiqueta.inTipoEtiqueta">
                        <option value="P">Pessoal</option>
                        <option value="S">Sensível</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="far fa-edit"></i> Alterar</button>
                <button type="button" class="btn btn-outline-primary btn-block" (click)="voltar()">
                    <i class="far fa-arrow-alt-circle-left"></i> Voltar</button>
            </form>
        </div>
    </div>
</div>