<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco">Bancos</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco/{{params.idBanco}}/esquema">Esquemas</a></li>
        <li class="breadcrumb-item"><a
                routerLink="/banco/{{params.idBanco}}/esquema/{{params.idEsquema}}/tabela">Tabelas</a></li>
        <li class="breadcrumb-item"><a
                routerLink="/banco/{{params.idBanco}}/esquema/{{params.idEsquema}}/tabela/{{params.idTabela}}/atributo">Atributos</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Incluir</li>
    </ol>
</nav>
<div class="container mt-4">
    <p class="h4 text-center">Inclusão de atributo</p>
    <div class="text-center"><span>no banco {{tabela?.esquema.banco.nmBanco}}, esquema
            {{tabela?.esquema.nmEsquema}}, tabela {{tabela?.nmTabela}}</span></div><br>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <form (ngSubmit)="onCreate()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="nmAtributo"><b>Nome do campo</b></label>
                    <input type="text" class="form-control" name="nmAtributo" id="nmAtributo" [(ngModel)]="nmAtributo"
                        required autocomplete="off">
                </div>

                <div class="form-group">
                    <label for="tipo"><b>Tipo do campo</b></label>
                    <input type="text" class="form-control" name="tipo" id="tipo" [(ngModel)]="tipo">
                </div>
                <div class="form-group">
                    <label for="tamanho"><b>Tamanho do campo</b></label>
                    <input type="number" class="form-control" name="tamanho" id="tamanho" [(ngModel)]="tamanho">
                </div>
                <div class="form-group">
                    <label for="inCampoChave"><b>Campo chave</b></label>
                    <select class="form-control" id="inCampoChave" name="inCampoChave" [(ngModel)]="inCampoChave">
                        <option value=true>Sim</option>
                        <option value=false>Não</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inCampoFk"><b>Campo FK</b></label>
                    <select class="form-control" id="inCampoFk" name="inCampoFk" [(ngModel)]="inCampoFk">
                        <option value=true>Sim</option>
                        <option value=false>Não</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inObrigatorio"><b>Campo obrigatório</b></label>
                    <select class="form-control" id="inObrigatorio" name="inObrigatorio" [(ngModel)]="inObrigatorio">
                        <option value=true>Sim</option>
                        <option value=false>Não</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txDescricao"><b>Descrição</b></label>
                    <input type="text" class="form-control" name="txDescricao" id="txDescricao"
                        [(ngModel)]="txDescricao" autocomplete="off">
                </div>
                <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-plus-circle"></i> Incluir</button>
                <button type="button" class="btn btn-outline-primary btn-block" (click)="voltar()">
                    <i class="far fa-arrow-alt-circle-left"></i> Voltar</button>
            </form>
        </div>
    </div>
</div>