<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco">Bancos</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco/{{params.idBanco}}/esquema">Esquemas</a></li>
        <li class="breadcrumb-item"><a
                routerLink="/banco/{{params.idBanco}}/esquema/{{params.idEsquema}}/tabela">Tabelas</a></li>
        <li class="breadcrumb-item"><a
                routerLink="/banco/{{params.idBanco}}/esquema/{{params.idEsquema}}/tabela/{{params.idTabela}}/atributo">Atributos</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">LGPD</li>
    </ol>
</nav>
<div class="container mt-4">
    <p class="h4 text-center">Classificação LGPD</p>
    <div class="text-center"><span>do atributo {{atributo?.nmAtributo}}, banco {{atributo?.tabela.esquema.banco.nmBanco}}, esquema
        {{atributo?.tabela.esquema.nmEsquema}}, tabela {{atributo?.tabela.nmTabela}}</span></div><br>
    <div class="row" *ngIf="atributo">
        <div class="col-md-12 mx-auto">
            <form (ngSubmit)="onUpdate()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="inPessoal"><b>Campo com dado pessoal</b></label>
                    <select class="form-control" id="inPessoal" name="inPessoal" [(ngModel)]="atributo.inPessoal"
                        (change)="onChange()">
                        <option value=""></option>
                        <option value="X">Não se aplica</option>
                        <option value="S">Sim</option>
                        <option value="N">Não</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inSensivel"><b>Campo com dado sensível</b></label>
                    <select class="form-control" id="inSensivel" name="inSensivel" [(ngModel)]="atributo.inSensivel"
                        (change)="onChange()">
                        <option value=""></option>
                        <option value="X">Não se aplica</option>
                        <option value="S">Sim</option>
                        <option value="N">Não</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="inPessoal"><b>Etiquetas</b></label>
                    <ng-select [items]="etiquetas" [multiple]="true" [hideSelected]="true" bindLabel="nmEtiqueta"
                        [closeOnSelect]="false" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="etiquetasSelecionadas">
                    </ng-select>
                </div>
                <br>
                <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="far fa-edit"></i> Classificar</button>
                <button type="button" class="btn btn-outline-primary btn-block" (click)="voltar()">
                    <i class="far fa-arrow-alt-circle-left"></i> Voltar</button>
            </form>
        </div>
    </div>
</div>