<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco">Bancos</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco/{{params.idBanco}}/esquema">Esquemas</a></li>
        <li class="breadcrumb-item"><a
                routerLink="/banco/{{params.idBanco}}/esquema/{{params.idEsquema}}/tabela">Tabelas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalhar</li>
    </ol>
</nav>
<div class="container mt-4">
    <p class="h4 text-center">Detalhes da tabela</p>
    <div class="text-center"><span>do banco {{tabela?.esquema.banco.nmBanco}}, esquema
            {{tabela?.esquema.nmEsquema}}</span></div><br>
    <div class="row" *ngIf="tabela">
        <div class="col-md-12 mx-auto">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>ID</b><br>{{tabela.id}}</li>
                <li class="list-group-item"><b>Nome</b><br>{{tabela.nmEsquema}}</li>
                <li class="list-group-item"><b>Descrição</b><br>{{tabela.txDescricao}}</li>
                <li class="list-group-item"><b>Data do Registro</b><br>{{tabela.dtRegistro | date : 'dd/MM/yyyy HH:mm'}}
                </li>
            </ul>
            <button class="btn btn-outline-primary btn-block" (click)="voltar()">
                <i class="far fa-arrow-alt-circle-left"></i> Voltar</button>
        </div>
    </div>
</div>