<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item"><a routerLink="/ambiente">Ambientes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Incluir</li>
    </ol>
</nav>
<div class="container mt-4">
    <p class="h4 text-center">Inclusão de ambiente</p>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <form (ngSubmit)="onCreate()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="nmAmbiente"><b>Nome</b></label>
                    <input type="text" class="form-control" name="nmAmbiente" id="nmAmbiente" [(ngModel)]="nmAmbiente"
                        required autocomplete="off">
                </div>
                <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-plus-circle"></i> Incluir</button>
                <button type="button" class="btn btn-outline-primary btn-block" (click)="voltar()">
                    <i class="far fa-arrow-alt-circle-left"></i> Voltar</button>
            </form>
        </div>
    </div>
</div>