<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco">Bancos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalhar</li>
    </ol>
</nav>
<div class="container mt-4">
    <p class="h4 text-center">Detalhes do banco</p>
    <div class="row" *ngIf="banco">
        <div class="col-md-12 mx-auto">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>ID</b><br>{{banco.id}}</li>
                <li class="list-group-item"><b>Nome</b><br>{{banco.nmBanco}}</li>
                <li class="list-group-item"><b>Ambiente</b><br>{{banco.ambiente?.nmAmbiente}}</li>
                <li class="list-group-item"><b>Tecnologia</b><br>{{banco.tecnologia?.nmTecnologia}}</li>
                <li class="list-group-item"><b>Descrição</b><br>{{banco.txDescricao}}</li>
                <li class="list-group-item"><b>Data do Registro</b><br>{{banco.dtRegistro | date : 'dd/MM/yyyy HH:mm'}}
                </li>
            </ul>
            <button class="btn btn-outline-primary btn-block" (click)="voltar()">
                <i class="far fa-arrow-alt-circle-left"></i> Voltar</button>
        </div>
    </div>
</div>