<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item active" aria-current="page">Registrar</li>
    </ol>
</nav>
<div class="container mt-4">
    <p class="h4 text-center">Registro de usuário</p>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <form (ngSubmit)="onRegister()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="username"><b>Nome do Usuário</b></label>
                    <input type="text" class="form-control" name="username" id="username" [(ngModel)]="username"
                        required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="email"><b>Email</b></label>
                    <input type="email" class="form-control" name="email" id="email" [(ngModel)]="email" required
                        autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="firstName"><b>Primeiro Nome</b></label>
                    <input type="text" class="form-control" name="firstName" id="firstName" [(ngModel)]="firstName"
                        autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="lastName"><b>Último Nome</b></label>
                    <input type="text" class="form-control" name="lastName" id="lastName" [(ngModel)]="lastName"
                        autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password"><b>Senha</b></label>
                    <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password"
                        required>
                </div>

                <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-plus-circle"></i> Registrar</button>
                <button type="button" class="btn btn-outline-primary btn-block" (click)="voltar()">
                    <i class="far fa-arrow-alt-circle-left"></i> Voltar</button>
            </form>
        </div>
    </div>
</div>