<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco">Bancos</a></li>
        <li class="breadcrumb-item"><a routerLink="/banco/{{params.idBanco}}/esquema">Esquemas</a></li>
        <li class="breadcrumb-item"><a
                routerLink="/banco/{{params.idBanco}}/esquema/{{params.idEsquema}}/tabela">Tabelas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Atributos</li>
    </ol>
</nav>
<div class="container mt-4">
    <p class="h4 text-center">Listagem de Atributos</p>
    <div class="text-center"><span>do banco {{tabela?.esquema.banco.nmBanco}}, esquema
            {{tabela?.esquema?.nmEsquema}}, tabela {{tabela?.nmTabela}}</span></div><br>
    <div class="d-flex justify-content-end mb-2">
        <button class="btn btn-outline-success mr-2" *ngIf="isAdmin"
            routerLink="/banco/{{params.idBanco}}/esquema/{{params.idEsquema}}/tabela/{{params.idTabela}}/atributo/incluir"
            tooltip="Incluir atributo"><i class="fas fa-plus-circle"></i> Novo</button>
        <button class="btn btn-outline-secondary" (click)="exportexcel()" tooltip="Gerar arquivo excel"><i
                class="fas fa-file-excel"></i>
            Exportar</button>
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-search mr-1"></i></span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm" placeholder="Filtrar por nome" (keyup)="updateFilter($event)">
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Pessoal</th>
                    <th scope="col">Sensível</th>
                    <th scope="col">Etiquetas</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Detalhar</th>
                    <th *ngIf="isAdmin" scope="col">LGPD</th>
                    <th scope="col">Contribuir</th>
                    <th *ngIf="isAdmin" scope="col">Editar</th>
                    <th *ngIf="isAdmin" scope="col">Apagar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let atributo of atributos">
                    <td>{{atributo.nmAtributo}}</td>

                    <ng-container *ngIf="atributo.inPessoal === null ">
                        <td>Sem classificação</td>
                    </ng-container>
                    <ng-container *ngIf="atributo.inPessoal === 'X' ">
                        <td>Não se aplica</td>
                    </ng-container>
                    <ng-container *ngIf="atributo.inPessoal === 'N' ">
                        <td>Não</td>
                    </ng-container>
                    <ng-container *ngIf="atributo.inPessoal === 'S' ">
                        <td>Sim</td>
                    </ng-container>

                    <ng-container *ngIf="atributo.inSensivel === null ">
                        <td>Sem classificação</td>
                    </ng-container>
                    <ng-container *ngIf="atributo.inSensivel === 'X' ">
                        <td>Não se aplica</td>
                    </ng-container>
                    <ng-container *ngIf="atributo.inSensivel === 'N' ">
                        <td>Não</td>
                    </ng-container>
                    <ng-container *ngIf="atributo.inSensivel === 'S' ">
                        <td>Sim</td>
                    </ng-container>
                    <td>
                        <div class="text-left" *ngFor="let etiqueta of atributo.etiqueta">
                            <i class="fas fa-tag text-info"></i> {{etiqueta.nmEtiqueta}}
                        </div>
                    </td>
                    <td>{{atributo.txDescricao}}</td>
                    <td><button class="btn btn-outline-primary"
                            routerLink="/banco/{{params.idBanco}}/esquema/{{params.idEsquema}}/tabela/{{params.idTabela}}/atributo/{{atributo.id}}/detalhar"
                            tooltip="Detalhar atributo"><i class="far fa-eye"></i></button></td>
                    <td *ngIf="isAdmin"><button class="btn btn-outline-secondary"
                            routerLink="/banco/{{params.idBanco}}/esquema/{{params.idEsquema}}/tabela/{{params.idTabela}}/atributo/{{atributo.id}}/lgpd"
                            tooltip="Classificação LGPD"><i class="fas fa-tasks"></i></button></td>
                    <td><button class="btn btn-outline-info"
                            routerLink="/banco/{{params.idBanco}}/esquema/{{params.idEsquema}}/tabela/{{params.idTabela}}/atributo/{{atributo.id}}/contribuicao"
                            tooltip="Contribuir"><i class="far fa-comments"></i></button></td>
                    <td *ngIf="isAdmin"><button class="btn btn-outline-warning"
                            routerLink="/banco/{{params.idBanco}}/esquema/{{params.idEsquema}}/tabela/{{params.idTabela}}/atributo/{{atributo.id}}/alterar"
                            tooltip="Alterar atributo"><i class="far fa-edit"></i></button></td>
                    <td *ngIf="isAdmin"><button class="btn btn-outline-danger" (click)="onDelete(atributo.id)"
                            tooltip="Apagar atributo"><i class="far fa-trash-alt"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>