<!-- <div class="container mt-4" *ngIf="!isLogging"> -->
<div class="container mt-4">
  <div class="jumbotron">
    <h5 *ngIf="username">Olá {{username}}.</h5>
    <h5 *ngIf="!username">Catálogo de Metadados</h5>
    <p class="lead">O catálogo de metadados é um sistema desenvolvido para atender às especificações do TCC
      do curso de especialização em desenvolvimento fullstack da PUC Minas Virtual.</p>
  </div>
</div>

